
body {
  font-family: "avenir";
  margin: 0;
  padding: 0;
  background-color: #f7f8fc;
}

.container {
  /* min-height: 100vh; */
  flex-direction: column;
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
}

.no-orders-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  text-align: center;
}

.no-orders-message {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

.create-order-button {
  padding: 10px 20px;
  background-color: white;
  color: #5861ae;
  font-size: 16px;
  border: 1px solid #5861ae;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dashboard-container > .orders-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.create-order-button:hover {
  background-color: #eeeeee;
}

.order-create-table {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* overflow: hidden; */
  font-family: "Open Sans", sans-serif;
}

.order-header-row {
  display: flex;
  background-color: #2f2f2f;
  font-weight: 600;
  font-size: 14px;
  color: white;
  border-bottom: 1px solid #ccc;
  padding: 12px 0;
}

.order-row {
  display: flex;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

.order-col {
  flex: 1;
  padding: 0 16px;
  display: flex;
  align-items: center;
}

.product-name {
  flex: 2;
}

.quantity-input {
  width: 60px;
  padding: 6px 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.wash-icons img {
  margin-right: 12px;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.product-info {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.product-image {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.product-details {
  display: flex;
  flex-direction: column;
}

.product-title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.product-desc {
  font-size: 12px;
  color: #777;
  margin-top: 4px;
}

.price-reset-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
  padding-right: 20px;
}

.price-text {
  width: 68px;
  height: 24px;
  font: normal normal 525 18px/24px Open Sans;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.reset-btn {
  color: #5861ae;
  width: 81px;
  height: 32px;
  margin-right: 20px;
  padding: 2px 8px;
  font-size: 12px;
  background-color: white;
  border: 1px solid #5861ae;
  border-radius: 4px;
  cursor: pointer;
}

.action-buttons {
  padding: 16px 32px;
  display: flex;
  justify-content: flex-end;
  background-color: #f7f8fc;
}

.proceed-btn {
  padding: 10px 20px;
  background-color: #5861AE;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.proceed-btn:hover {
  background-color: #404a8a;
}
