.order-progress-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0 20px;
}

.progress-step {
  font-weight: bold;
  color: #999;
  position: relative;
  text-align: center;
  width: 100px;
}

.progress-step.completed {
  color: #5861ae;
}

.progress-step.current {
  color: #5861ae;
  font-weight: 700;
}

.progress-line {
  height: 2px;
  background-color: #ccc;
  flex: 1;
  margin: 0 5px;
}

.progress-line.completed {
  background-color: #5861ae;
}

.summary-address-section {
  margin: 16px 0px;
  font-size: 14px;
  color: #444;
  line-height: 1.5;
}
.summary-address-section h3{
  margin-left: 20px;
}
.summary-address-section h4 {
  margin: 0px;
  font-weight: 600;
  color: #333;
}
.summary-address-section p {
  margin: 0px;
  color: #333;
}

.final-address {
  border: 1px solid #5861AE;
  padding: 12px 16px;
  margin-left: 20px;
  border-radius: 8px;
  width: 150px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}

.summary-bottom-bar {
  height: 40px;
  background-color: #f4f4f4;
}
