.error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

.input-error {
  border: none;
  border-bottom: 2px solid red;
  color: red !important;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.left-section {
  flex: 1;
  background-color: white;
  color: #5861ae;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  padding: 2rem;
}

.left-content {
  display: flex;
  margin-left: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.left-content h2 {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #5861ae;
}

.left-content p {
  color: #999;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.register-box {
  text-align: left;
}

.register-box p {
  margin-bottom: 0.5rem;
  color: black;
}

.register-btn-signIn {
  padding: 0.5rem 1rem;
  width: 150px;
  height: 50px;
  background: transparent;
  border: 2px solid #4552c1;
  color: #4552c1;
  border-radius: 4px;
  font: normal normal bold 15px/20px Open Sans;
  cursor: pointer;
  transition: background 0.3s ease;
}

.register-btn-signIn:hover {
  background-color: #f0f0f0;
}

.signin-container {
   display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.right-section {
  flex: 1;
  background-color: #b9c0fd1a;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 4rem;
}

.right-section h2 {
  font: normal normal medium 32px/60px Avenir;
  margin-bottom: 2rem;
  color: #4552c1;
}

.right-section label {
  font: normal normal normal 17px/27px Open Sans;
  letter-spacing: 0.6px;
  color: #77838f;
  opacity: 1;
}

.right-section input[type="text"],
.right-section input[type="password"] {
  width: 100%;
  padding: 0.5rem 0;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
  outline: none;
}

.right-section input::placeholder {
  color: #999;
}

.password-wrapper {
  position: relative;
}

.forgot-password {
  text-align: right;
  color: #5861ae;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 0.9rem;
}

.right-section button {
  padding: 0.75rem;
  width: 150px;
  height: 50px;
  border: none;
  background: #4552c1 0% 0% no-repeat padding-box;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.right-section button:hover {
  background-color: #40479e;
}

.lock-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
}
